.skills {
  background-color: var(--color-secundary);
  color: #FFF
}

.skills .about-container .title {
  font-family: "Nanum Gothic", serif;
  padding: 3vw;
  font-size: 24pt;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-cards {
  display: flex;
}