.skill-container {
  background-color: var(--light);
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
}

.skill-info {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--dark);
}

.skill-info h3, span {
  font-family: 'Nanum Gothic', sans-serif;
}

.skill-info span {
  color: var(--gray);
}

.skill-img {
 width: 100%;
}

.skill-img img {
  width: 60px;
  height: 60px;
}