  .container {
    margin: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .home-content {
    max-width: 500px;
  }
  
  .home-content p {
    text-align: center;
    font-size: 16pt;
  }
  
  @keyframes blink {  
    0% {
      color: rgba(0, 0, 0, 0);
    }
    100% {
      color: var(--color-primary);
    }
  }
  @-webkit-keyframes blink {
    0% {
      color: rgba(0, 0, 0, 0); 
    }
    100% {
      color: var(--color-primary);
    }
  }
  
  #blink {
    font-weight: bolder;
    -webkit-animation: blink 1s ease-in-out infinite;
    -moz-animation: blink 1s ease-in-out infinite;
    animation: blink 1s ease-in-out infinite;
  } 
  
/* ------ Sobre ------ */

.sobre {
  color: #FFF;
  background-color: var(--color-primary);
}

.sobre .about-container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 5vw;
}

.sobre .about-container .title {
  font-family: "Nanum Gothic", serif;
  padding: 1vw;
  font-size: 24pt;
}

.sobre .about-container .content {
  font-size: 16pt;
}

/* ------ Skills ------ */

.skills {
  background-color: var(--color-secundary);
  padding: 3rem;
  color: #FFF
}

.skills .about-container .title {
  font-family: "Nanum Gothic", serif;
  padding: 3vw;
  font-size: 24pt;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-cards {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1rem;
}